/*popup*/

.login-popup {
    display: flex;
    justify-content: center;
    align-items: center;
	position: fixed;
    top: 0;
    left: 0;
	z-index: 999999999999999999999999999999999999999999999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4)
}

.login-popup-inner {
    width: 577px;
    height: 703px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}

.login_close {
    text-align: right;
}

.login_close > a {
    padding: 24px 24px 0 0;
    display: inline-block;
    
}

.login_list {
    padding: 0 64px;
}

.login-top {
    padding-bottom: 43px;
    border-bottom: #eaeaea solid 1px;
}

.login-top > h2 {
    font-size: 36px;
    font-weight: 700;
    padding: 18px 0 44px;
}

.input-style {
    width: 100%;
    height: 61px;
    color: #a5a5a5;
    padding-left: 21px;
    border: #dfdfdf solid 1px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.input-style > input {
    outline: none;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
    letter-spacing: -1px;
    background: transparent;
    width: 100%;
    height: 100%;
}
.login-check{
    text-align: left;
}
.login-check > p {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.login-check > p::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eaeaea;
    margin-right: 8px;
    cursor: pointer;
}

.login-check > p.active::before {
    background: #fe811c url(../images/icon/ico-join-check.png) no-repeat center center / auto;
}

.login-button > .input-style {
  outline: none;
    width: 100%;
    height: 61px;
    font-size: 1rem;
    border: #fe811c solid 1px;
    border-radius: 100px;
    background: #fe811c;
    margin: 30px 0 24px;
    padding-left: 0;
}

.login-button input {
    color: #fff !important;
    letter-spacing: -1px;
    cursor: pointer;
    justify-content: center;
    font-size: 18px;
}

.people_info > a {
    display: inline-block;
    font-size: 15px;
}

.people_info > a:last-child::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #d1d1d1;
    margin: 0 14px 0 12px;
}

.join-social p {
    font-size: 15px;
    padding-top: 12px;
}

.join-social > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0 190px;
}

.join-social li {
    margin-right: 25px;
}


.join-social li:last-child {
    margin-right: 0;
}

.join-social li > a > img {
    width: 50px;
    height: 50px;
}

input::-ms-input-placeholder { color: #a5a5a5; }

input::-webkit-input-placeholder { color: #a5a5a5; }

input::-moz-placeholder { color: #a5a5a5; }

.box.test svg{
    width: 67px;
    height: 55px;
}

@media (max-width: 1500px) {
.login-popup-inner{
    width: 340px;
    height: 412px;
}
.login_close > a{
    padding: 14px 14px 0 0;
}
.login_close > a img{
    width: 10px;
    height: 10px;
}
.login_list{
    padding: 0 38px;
}
.login-top > h2{
    font-size: 21px; 
    padding: 20px 0 25px 0
}
.input-style{
    padding-left: 15px;
    height: 36px;

    margin-bottom: 7px;
}
.input-style > input{
    font-size: 12px;
    letter-spacing: 0;
}
.login-check > p::before{
    width: 18px;
    height: 18px;
}
.login-check > p{
    font-size: 11px;
}
.login-check > p.active::before {
    background: #fe811c url(../images/icon/ico-join-check.png) no-repeat center center / 7px 6px;
}
.login-button > .input-style{
    height: 35px;
    font-size: 11px;
    margin: 17px 0 15px 0;
}
.people_info > a{
    font-size: 9px;
}
.login-top{
    padding-bottom: 20px;
}
.join-social > ul{
    padding-top: 15px;
}
.join-social li{
    margin-right: 14px;
}
.join-social li > a > img{
    width: 30px;
    height: 30px;
}
.join-social p{
    font-size: 11px;
    padding-top: 10px;
}
.c1 .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 60px !important;
}
.c1 .slider-content-area .img-wrap{
    width: auto;
}
}

@media (max-width: 1024px) {
    .login_list {
        padding: 0 20px;
    }
    .login-popup {
        display: flex;
        justify-content: start;
        align-items: flex-end;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 100vh;
    }

    .input-style{
        height: 51px;
    }

    .login-popup-inner {
        width: 100%;
        height: 90%;
        background: #fff;
        border-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;
    }
    .login-top > h2 {
        font-size: 20.17px;
        font-weight: 700;
        padding: 18px 0 44px;
    }
    .login-check > p {
        font-size: 12.49px;
    }
    .login-check > p::before  {
        width: 24px;
        height: 24px;
    }
    .login-button > .input-style {
        height: 51px;
    }
    .login-button input {
        font-size: 16px;
    }
    .people_info > a {
        font-size: 12.49px;
    }
    .join-social li > a > img {
        width: 39px;
        height: 39px;
    }
    .join-social p {
        font-size: 11.21px;
    }
}
/* ---- */
header div.header-right > div.userMenu {
    width: 50px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.userMenu > .userNick {
    width: 70px;
    font-size: 11px;
    position: absolute;
    bottom: 39px;
    left: 44px;
}

/* user-popup .no-login*/
.userMenu > .no-login-menu {
    display: flex;
}

.userMenu > .no-login-menu > li {
    margin-left: 0 !important;
}

.userMenu > .no-login-menu > li > a {
    color: #fff;
    font-size: 14px;
}

.userMenu > .no-login-menu > li > button {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.userMenu > .no-login-menu > li > button:hover {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 14px;
    transition: 0.5s ease;
}

.userMenu > .no-login-menu > li:first-child > button::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #fff;
    margin-left: 6px;
}

.userMenu > .no-login-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: calc(100% + 96px);
    height: 46px;
    padding: 0 19px;
    background: #fe811c;
    border-radius: 18px;
    bottom: -40px;
    left: -49px;
    text-align: start;
    box-shadow: 2px 4px 8px rgb(0 0 0 / 16%);
}

.userMenu > .no-login-menu::before {
    content: '◆';
    color: #fe811c;
    position: absolute;
    bottom: 39px;
    left: 50%;
    transform: translateX(-50%);
}

.userMenu > .no-login-menu {
    display: none; 
    /* flex 입력해야함 */
}

.userMenu > .no-login-menu.show {
    display: flex; 
}


/* --------------------- */

/* user-popup .login-menu*/

.userNick {
    display: none;
}

.userMenu > .login-menu > li {
    margin-left: 0 !important;
    height: 32px;
    position: relative;
}

.userMenu > .login-menu > li:hover {
    background-color: #fff;
}

.userMenu > .login-menu > li::after {
    content: '';
    display: block;
    height: 1px;
    width: 83px;
    background-color: #eeeded;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.userMenu > .login-menu > li:hover::after{
    width: 100%;
    height: 2px;
    transition: 0.3s;
}

.userMenu > .login-menu > .drop-last::after{
    display: none;
}

.userMenu > .login-menu i.dropdown-head{
    width: calc(100% + 3px);
    height: 32px;
    background: url(../images/icon/ico-dropmenu-head.png)no-repeat center bottom / contain;
    position: absolute;
    top: -32px;
    left: -1px;
    z-index: 99;
}

.userMenu > .login-menu > li:hover > i.dropdown-head{
    background: url(../images/icon/ico-dropmenu-head-hover.png)no-repeat center bottom / contain;
    position: absolute;
}

.userMenu > .login-menu > li > a {
    color: #000;
    font-size: 11.25px;
    padding-left: 14px;
    height: 100%;
    line-height: 32px;
    font-weight: 500;
}

.userMenu > .login-menu > li:hover > a {
    color: #000;
    opacity: 1;
}

.userMenu > .login-menu {
    display: block;
    position: absolute;
    width: calc(100% + 62px);
    height: 257px;
    background: #f8f8f8;
    border-left: 1px solid #ebe9e9;
    border-right: 1px solid #ebe9e9;
    bottom: -260px;
    left: 8px;
}

.userMenu > .login-menu i.dropdown-bottom{
    width: calc(100% + 3px);
    height: 32px;
    background: url(../images/icon/ico-dropmenu-bottom.png)no-repeat center top / contain;
    position: absolute;
    bottom: -31px;
    left: -1px;
    z-index: 99;
}

.userMenu > .login-menu > li:hover > i.dropdown-bottom{
    background: url(../images/icon/ico-dropmenu-bottom-hover.png)no-repeat center top / contain;
    position: absolute;
}

.userMenu > .login-menu {
    display: none;
    /* block 이어야함 */
}

.login-popup {
    display: none;
}

.login-popup.active{
    display: flex;
}