/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: #515151 !important;
}

header {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  position: fixed;
}

header nav {
  max-width: 2034px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

header nav .logo {
  position: absolute;
  left: 0;
  top: 35px;
}

header nav .logo::before {
  content: "";
  display: inline-block;
  background: url(../images/icon/logo.png);
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

header nav ul {
  margin-left: 150px;
  display: flex;
  height: 100%;
  align-items: center;
}

header nav ul li {
  margin-left: 50px;
}

header nav ul li a {
  font-size: 21px;
  font-weight: 700;
}

header nav .userMenu {
  position: absolute;
  top: 35px;
  right: 60px;
}

header nav .userMenu .user {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: url(../images/icon/user.png);
  width: 23px;
  height: 20px;
}

header nav .userMenu .user::after {
  position: absolute;
  right: -10px;
  top: 3px;
  content: "\f0d7";
  display: inline-block;
  font-family: fontAwesome;
}

header nav .userMenu .ham {
  cursor: pointer;
  margin-left: 30px;
  display: inline-block;
  background: url(../images/icon/ham.png);
  width: 25px;
  height: 19px;
}

.c1 {
  width: 100%;
  height: 700px;
}

.c1 .swiper-wrapper {
  width: 100%;
  height: 625px;
}

.c1 .slider-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.c1 .slider-content:nth-of-type(1) {
  background: url(../images/main/c1/backgound.png);
  background-size: cover;
}

.c1 .slider-content-area {
  max-width: 2034px;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.c1 .slider-content-area .text-wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}

.c1 .slider-content-area .text-wrap p {
  font-size: 52px;
  margin: 20px 0;
}

.c1 .slider-content-area .text-wrap span {
  font-size: 19px;
}

.c1 .slider-content-area .text-wrap a .pen-icon {
  margin-top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #eeb76e;
  position: relative;
}

.c1 .slider-content-area .text-wrap a .pen-icon::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 21px;
  background: url(../images/icon/pencil.png);
}

.c1 .slider-content-area .text-wrap a span {
  font-weight: 700;
}

.c1 .slider-content-area .img-wrap {
  width: 100%;
  position: relative;
}

.c1 .slider-content-area .img-wrap img {
  width: 600px;
  position: absolute;
  right: 0;
  bottom: -40px;
  height: auto;
}

.c1 .swiper-pagination-fraction,
.c1 .swiper-pagination-custom,
.c1 .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 100px !important;
}

.c2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.c2 .swiper-container {
  max-width: 2054px;
  padding: 0 20px;
}

.c2 div {
  width: 100%;
  max-width: 2034px;
}

.c2 div.top-text div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.c2 div.top-text div p {
  font-size: 35px;
  color: #515151;
}

.c2 div.top-text div a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 48px;
  background: #eeb76e;
  border-radius: 40px;
}

.c2 div.top-text div a span {
  position: relative;
  color: white;
  padding-right: 15px;
}

.c2 div.top-text div a span::after {
  display: inline-block;
  font-size: 18px;
  position: absolute;
  font-weight: 700;
  right: 0;
  content: "\f105";
  font-family: fontAwesome;
}

.c2 div .swiper-slide .slider-content2 {
  padding-bottom: 50px;
}

.c2 div .swiper-slide .slider-content2 .img-wrap {
  width: 100%;
  height: auto;
  position: relative;
}

.c2 div .swiper-slide .slider-content2 .img-wrap span {
  text-align: left;
  display: inline-block;
  width: 150px;
  height: 20px;
  transform: rotate(-90deg);
  position: absolute;
  left: -90px;
  bottom: 65px;
  color: #515151;
  font-size: 16px;
}

.c2 div .swiper-slide .slider-content2 .text-wrap {
  margin-top: 10px;
  text-align: left;
  width: 90%;
}

.c2 div .swiper-slide .slider-content2 .text-wrap p {
  font-size: 22px;
  margin: 20px 0;
  font-weight: 700;
}

.c2 div .swiper-slide .slider-content2 .text-wrap span {
  font-size: 16px;
  color: #3f3f3f;
}

.c3 {
  width: 100%;
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.c3 div {
  padding: 100px 0 200px;
  width: 100%;
  max-width: 2034px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c3 div p {
  font-size: 42px;
}

.c3 div p span {
  padding: 15px;
  font-size: 42px;
  font-weight: 500;
  color: #000;
  border: 1px solid black;
  position: relative;
}

.c3 div p span span {
  position: absolute;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background: #fafafa;
}

.c3 div p span span:nth-of-type(1) {
  top: -8px;
  left: -8px;
}

.c3 div p span span:nth-of-type(2) {
  top: -8px;
  right: -8px;
}

.c3 div p span span:nth-of-type(3) {
  bottom: -8px;
  right: -8px;
}

.c3 div p span span:nth-of-type(4) {
  bottom: -8px;
  left: -8px;
}

.c3 div span {
  display: inline-block;
  margin: 20px 0;
  font-size: 20px;
  color: #4e4e4e;
}

.c4 {
  width: 100%;
  position: relative;
}

.c4 .pop-img {
  width: 687px;
  position: absolute;
  top: -150px;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
  background: white;
  padding: 40px;
}

.c4 .pop-img img {
  width: 100%;
  height: auto;
}

.c4 .pop-img a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  position: absolute;
  bottom: -70px;
  right: -70px;
  background: black;
  color: white;
}

.c4 .pop-img a span {
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.c4 .pop-img a span::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  content: "\f105";
  display: inline-block;
  font-weight: 700;
  color: white;
  font-family: fontAwesome;
}
/*# sourceMappingURL=index.css.map */