
/*join-wrap*/

.join_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
}

.join_inner {
    width: 558px;
    min-width: 350px;
    height: 849px;
    margin: 0 auto;
    text-align: center;
    font-size: 62.5%;
    padding: 0 53px;
    border: #eaeaea solid 1px;
    background-color: #fff;
    border-radius: 20px;
}

.back-icon {
    text-align: start;
}

.join-back {
    display: none;
}

.join_inner > h2 {
    font-size: 41px;
    font-weight: 700;
    padding: 71px 0 44px 0
}

.join-top {
    padding-bottom: 11px;
    border-bottom: #e9e8e8 solid 1px;
}

.icocheck {
    display: none;
}

.icocheck.check {
    display: inherit;
}


.input-style {
    width: 100%;
    height: 61px;
    font-size: 1rem;
    /*color: #a5a5a5;*/
    border: #dfdfdf solid 1px;
    border-radius: 8px;
    letter-spacing: -1px;
    padding-left: 0;
    margin-bottom: 12px;
}

.input-style > input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px 0 21px;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
}

input::-ms-input-placeholder {
    color: #a5a5a5;
}

input::-webkit-input-placeholder {
    color: #a5a5a5;
}

input::-moz-placeholder {
    color: #a5a5a5;
}

.join-emo,
.join-nickname {
    position: relative;
}

.join-emo > button,
.join-nickname > button {
    position: absolute;
    bottom: 50%;
    right: 13px;
    transform: translateY(50%);
}

.join-top > .join-emo:last-child {
    margin-top: 12px;
}

.join-top > div:nth-child(3) {
    margin-top: 12px;
}

.flex-box > .input-style:first-child {
    display: inline-block;
    outline: none;
    width: 100%;
    height: 61px;
    font-size: 1rem;
    color: #a5a5a5;
    padding: 0;
    border: #dfdfdf solid 1px;
    border-radius: 8px;
    margin-bottom: 0;
}

.join-nickname > button {
    right: 20.5%;
}

.flex-box > .input-style:last-child {
    display: inline-block;
    width: 89px;
    height: 61px;
    color: #000;
    border: #a6a6a6 solid 1px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-left: 4px;
    margin-bottom: 0;
}

.flex-box > .input_nick:hover {
    border: #fe811c solid 1px;
    background: #fe811c;
    transition: 0.3s ease;
}

.input-style:last-child > input {
    outline: none;
    font-size: 1rem;
    letter-spacing: -2px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.flex-box > .input_nick:hover > input {
    color: #fff !important;
}

.flex-box {
    display: flex;
}

.join-ico {
    display: none;
}

.join-ico.active {
    display: inherit;
}

.join-bottom {
    padding: 24px 0 36px;
    border-bottom: #e9e8e8 solid 1px;
}

.join-bottom > div {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.join-bottom > div:first-child {
    padding-bottom: 12px;
}

.join-check > p,
.join-check > a {
    display: flex;
    align-items: center;
    line-height: 20px;
}

.join-check > p::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eaeaea;
    margin-right: 8px;
    cursor: pointer;
}

.join-check > p.active::before {
    background: #fe811c url(../images/icon/ico-join-check.png) no-repeat center / 14px 10px;
}

.join-check > a::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 13px;
    background: url(../images/icon/ico-rightArrow.png) no-repeat center / auto;
    margin-left: 8px;
}

.join-bottom > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 61px;
    font-size: 18px;
    margin: auto;
    color: #fff;
    background-color: #fe811c;
    border-radius: 100px;
    margin-top: 36px;
}

.join-social p {
    font-size: 15px;
    padding-top: 12px;
}

.join-social > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 0;
}

.join-social li {
    margin-right: 25px;
}


.join-social li:last-child {
    margin-right: 0;
}

.join-social li > a > img {
    width: 50px;
    height: 50px;
}

@media all and (max-width: 600px) {

    .join-nickname > button {
        right: 24.9%;
    }

    .join-back > img {
        width: 10px;
        height: 15px;
    }

    .join_inner {
        width: inherit;
        padding: 27px 22px 0 22px;
    }

    .join-back {
        display: inline-block;
    }

    .join_inner > h2 {
        font-size: 20px;
        padding: 23px 0 48px;
    }

    .join-top {
        padding-bottom: 24px;
    }

    .join-input-wrap input {
        font-size: 16px !important;
        font-weight: 100;
    }

    .join-top > .join-emo:last-child {
        margin-top: 9px;
    }

    .join-emo > input,
    .join-nickname > .nickname {
        padding-left: 11px !important;
    }

    .join-check > p::before {
        width: 24px;
        height: 24px;
    }

    .join-bottom {
        padding-bottom: 48px;
    }

    .join-bottom > div:first-child {
        padding-bottom: 8px;
    }

    .join-bottom > div {
        font-size: 15px;
    }

    .join-check > a::after {
        width: 8px;
        height: 12px;
    }

    .join-bottom > a {
        font-size: 18px;
        height: 54px;
        margin-top: 23px;
    }

    .join-social > ul {
        padding: 24px 0 190px;
    }

    .join-social > ul a > img {
        width: 39px;
        height: 39px;
    }

    .join-social li {
        margin-right: 23px;
    }

    .join-social li:last-child {
        margin-right: 0;
    }

    .join-social li > p {
        font-size: 13.20px;
    }

}

/* @media all and (max-width:1920px){
    div.h-inner{
        max-width:1440px;
        padding: 0;
    }
    div.h-inner {
        width: 100%;
        padding: 0 20px;
    }
}
@media (max-width: 1500px) {
    .footer > div {
        width: 100%;
    }
    header{
        height: 60px;
    }
    .header-left{
        height: 60px;
    }
    header div.header-right > div.userMenu{
        height: 60px;
    }
    div.h-inner{
        width: 100%;
        max-width: 1160px;
        padding: 0;
    }
    header .logo{
        margin-right: 50px;
    }
    .footer > div {
        width: 100%;
    }
    header nav ul li a{
        font-size: 12px;
    }
    header .logo img{
        width: 72px;
    }
    header nav .userMenu .user img{
        width: 15px;
    }
    header nav .userMenu .ham img{
        width: 15px;
    }
    footer > div{
        max-width: 875px;
    }
    footer > div .logo{
        width: 73px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
    }
    footer > div div:nth-of-type(2) div a{
        margin-top: 0;
        font-size: 11px;
    }
    footer > div div:nth-of-type(2) div{
        margin-bottom: 15px;
    }
    footer > div div:nth-of-type(2) ul li{
        font-size: 10px;
    }
    footer > div div:nth-of-type(2) ul li > a{
        font-size: 10px;
    }
    footer > div div:nth-of-type(2) address{
        font-size: 10px;
        margin-top: 30px;
    }
    footer > div div:nth-of-type(3) a{
    }
    footer > div div:nth-of-type(3) a.blog{
        width: 24px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    footer > div div:nth-of-type(3) a.facebook{
        width: 24px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    footer > div div:nth-of-type(3) a.insta{
        width: 24px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    footer > div div:nth-of-type(3) a.youtube{
        width: 24px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .join_inner > h2{
        padding: 82px 0 25px 0;
        font-size: 24px;
    }
    .join_inner{
        padding-top: 0;
        width: 100%;
        max-width: 264px;
        min-width: auto;
    }
    .join-top{
        padding-bottom: 14px;
    }
    .input-style{
        height: 36px;
        border-radius: 5px;
    }
    .input-style > input{
        font-size: 11px;
        padding: 0 12px;
    }
    .flex-box > .input-style:first-child{
        height: 36px;
        border-radius: 5px;
    }
    .flex-box > .input-style:last-child{
        height: 36px;
        border-radius: 5px;
    }
    .input-style:last-child > input{
        font-size: 11px;
        letter-spacing: 0;
    }
    .join-nickname{
        padding: 7px 0;
    }
    .join-top > .join-emo:last-child{
        margin-top: 7px;
    }
    .join-bottom{
        padding: 14px 0 24px;
    }
    .join-bottom > div:first-child{
        padding-bottom: 7px;
    }
    .join-check > p::before{
        width: 20px;
        height: 20px;
        background-size: 7px 5px !important;
        margin-right: 5px;
    }
    .join-check > p, .join-check > a{
        font-size: 11px;
    }
    .join-check > a::after{
        width: 4px;
        height: 7px;
        background-size: cover;
    }
    .join-bottom > a{
        height: 35px;
        font-size: 12px;
        margin-top: 15px;
    }
    .join-social > ul{
        padding: 15px 0 110px 0;
    }
    .join-social li > a > img{
        width: 30px;
        height: 30px;
    }
    .join-social p{
        padding-top: 6px;
        font-size: 10px;
    }
    .join-emo > button, .join-nickname > button{
        width: 15px;
        height: 15px;
    }
    .join-emo > button img, .join-nickname > button img{
        width: 100%;
    }
    .join-nickname > button{
        right: 31.5%;
    }
    .icocheck.check{
        width: 10px;
    }
    .icocheck.check img{
        width: 100%;
    }
    .join-social li{
        margin-right: 14px;
    }
}
*/
@media (max-width: 600px) {
    footer {
        display: none;
    }
} 


/* join-access-failed css */

.join-failed-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
}

.join-failed-inner {
    width: 558px;
    min-width: 350px;
    height: 504px;
    margin: 0 auto;
    text-align: center;
    padding: 0 63px;
    border: #eaeaea solid 1px;
    background-color: #fff;
    border-radius: 20px;
}

.ico-style{
padding: 70px 0 35px;
}

.ico-style > i {
    display: block;
    width: 110px;
    height: 110px;
    background: url(../images/icon/ico-failed.png) no-repeat center / cover;
    margin: 0 auto;
}

.join-failed-inner > h2 {
    font-size: 30px;
    font-weight: 700;
}

.join-failed-inner > p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #353535;
    padding: 20px 0 54px;
}

.passward-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bot-style {
    width: 48.9%;
    height: 61px;
    background-color: #fff;
    border: #cfcfcf solid 1px;
    border-radius: 100px;
}

.bot-style > a {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -1px;
}

.failed-input-style{
    width: 48.9%;
    height: 61px;
    background-color: #fe811c;
    border-radius: 100px;
}

.failed-input-style > input {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -1px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}