
/*join-wrap*/

/* 0805수정 */
.join_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #f8f8f8;
    padding: 70px 0 92px;
}

.join_inner {
    width: 558px;
    min-width: 350px;
    height: 849px;
    margin: 0 auto;
    text-align: center;
    font-size: 62.5%;
    padding: 0 53px;
    border: #eaeaea solid 1px;
    background-color: #fff;
    border-radius: 20px;
}

.back-icon {
    text-align: start;
}

.join-back {
    display: none;
}

.join_inner > h2 {
    font-size: 41px;
    font-weight: 700;
    padding: 71px 0 44px 0
}

.join-top {
    padding-bottom: 11px;
    border-bottom: #e9e8e8 solid 1px;
}

.icocheck {
    display: none;
}

.icocheck.check {
    display: inherit;
}


.input-style {
    width: 100%;
    height: 61px;
    font-size: 1rem;
    /*color: #a5a5a5;*/
    border: #dfdfdf solid 1px;
    border-radius: 8px;
    letter-spacing: -1px;
    padding-left: 0;
    margin-bottom: 12px;
}

.join_wrap .input-style > input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px 0 21px;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
}

input::-ms-input-placeholder {
    color: #a5a5a5;
}

input::-webkit-input-placeholder {
    color: #a5a5a5;
}

input::-moz-placeholder {
    color: #a5a5a5;
}

.join-emo,
.join-nickname {
    position: relative;
}

.join-emo > button,
.join-nickname > button {
    position: absolute;
    bottom: 50%;
    right: 13px;
    transform: translateY(50%);
}

/* 0809 수정 */
.join-nickname > button {
    right: 95px;
}

.join-top > .join-emo:last-child {
    margin-top: 12px;
}

.join-top > div:nth-child(3) {
    margin-top: 12px;
}

.flex-box > .input-style:first-child {
    display: inline-block;
    outline: none;
    width: 100%;
    height: 61px;
    font-size: 1rem;
    color: #a5a5a5;
    padding: 0;
    border: #dfdfdf solid 1px;
    border-radius: 8px;
    margin-bottom: 0;
}


.flex-box > .input-style:last-child {
    display: inline-block;
    width: 89px;
    height: 61px;
    color: #000;
    border: #a6a6a6 solid 1px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-left: 4px;
    margin-bottom: 0;
}

.flex-box > .input_nick:hover {
    border: #fe811c solid 1px;
    background: #fe811c;
    transition: 0.3s ease;
}

.join-input-wrap:nth-of-type(2) .input-style:last-of-type > input{
    outline: none;
    font-size: 1rem;
    letter-spacing: -2px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.flex-box > .input_nick:hover > input {
    color: #fff !important;
}

.flex-box {
    display: flex;
}

.join-ico {
    display: none;
}

.join-ico.active {
    display: inherit;
}

.join-bottom {
    padding: 24px 0 36px;
    border-bottom: #e9e8e8 solid 1px;
}

.join-bottom > div {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.join-bottom > div:first-child {
    padding-bottom: 12px;
}

.join-check > p,
.join-check > a {
    display: flex;
    align-items: center;
    line-height: 20px;
}

.join-check > p::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eaeaea;
    margin-right: 8px;
    cursor: pointer;
}

.join-check > p.active::before {
    background: #fe811c url(../images/icon/ico-join-check.png) no-repeat center / 14px 10px;
}

.join-check > a::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 13px;
    background: url(../images/icon/ico-rightArrow.png) no-repeat center / auto;
    margin-left: 8px;
}

.join-bottom > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 61px;
    font-size: 18px;
    margin: auto;
    color: #fff;
    background-color: #fe811c;
    border-radius: 100px;
    margin-top: 36px;
}

.join_wrap .join-social p {
    font-size: 15px;
    padding-top: 12px;
}

.join_wrap .join-social > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 0;
}

.join_wrap .join-social li {
    margin-right: 25px;
}


.join_wrap .join-social li:last-child {
    margin-right: 0;
}

.join_wrap .join-social li > a > img {
    width: 50px;
    height: 50px;
}

  /*
@media all and (max-width: 1920px) {
  
    .join_inner {
        width: 420px;
        min-width: 350px;
        height: 638px;
        margin: 0 auto;
        text-align: center;
        font-size: 62.5%;
        padding: 0 40px;
        border-radius: 15px;
    }
    .join_inner > h2 {
        font-size: 30.76px;
        padding: 46px 0 33px 0;
    }
    .input-style {
        width: 100%;
        height: 47px;
        font-size: 1rem;
        color: #a5a5a5; 
        border: #dfdfdf solid 1px;
        border-radius: 5px;
        letter-spacing: -1px;
        padding-left: 0;
        margin-bottom: 8px;
    }
    .input-style input {
        font-size: 12px;
    }
    .join-nickname > button {
        right: 25.5%;
    }
    .flex-box > .input-style:first-child {
        height: 47px;
        border-radius: 5px;
    }
    .flex-box > .input-style:last-child {
        height: 47px;
        margin-left: 4px;
        margin-bottom: 0;
        border-radius: 5px;
    }
    .join_wrap .input-style > input {
        font-size: 13px;
    }
    .flex-box > .input-style:last-child input {
        font-size: 12px;
    }
    .join-input-wrap:nth-of-type(2) .input-style:last-of-type > input{
        font-size: 12px;
    }
    .join-top > .join-emo:last-child {
        margin-top: 8px;
    }
    
    .join-top > div:nth-child(3) {
        margin-top: 8px;
    }
    .join-check > p, .join-check > a {
        font-size: 12px;
    }
    .join-check > p::before {
        width: 24px;
        height: 24px;
        margin-right: 6px;
    }
    .join-bottom {
        padding: 15px 0 24px;
    }
    .join-bottom > a {
        height: 47px;
        font-size: 14px;
        margin-top: 25px;
    }
    .join-social > ul {
        padding: 18px 0 0;
    }
    .join-social li > a > img {
        width: 38px;
        height: 38px;
    }
    .join-social p {
        font-size: 11.26px;
        padding-top: 8px;
    }
    .join-bottom > div:first-child {
        padding-bottom: 8px;
    }
   
}
 */
 
@media all and (max-width: 1024px) {
    header {
        display: none;
    }
    .join_wrap {
        padding: 0;
    }

    .join_inner {
        min-width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 62.5%;
        border: none;
        background-color: #fff;
        border-radius: 0;
        padding: 0 20px;
    }

    .flex-box > .input-style:first-child {
        height: 51px;
        border-radius: 5px;
    }
    .flex-box > .input-style:last-child {
        height: 51px;
        border-radius: 5px;
    }

    .join-nickname > button {
        right: 24.9%;
    }

    .join-back > img {
        width: 10px;
        height: 15px;
    }

    .input-style {
        height: 51px;
        border-radius: 5px;
        margin-bottom: 8px;
    }
    .join-top > div:nth-child(3) {
        margin-top: 8px;
    }

    .join-back {
        display: inline-block;
    }

    .join_inner > h2 {
        font-size: 25px;
        padding: 20px 0 36px;
    }

    .join-top {
        padding-bottom: 16px;
    }

    .join-input-wrap input {
        font-size: 15px !important;
        font-weight: 100;
        padding: 0 35px 0 16px;
    }

    .join-top > .join-emo:last-child {
        margin-top: 9px;
    }

    .join-emo > input,
    .join-nickname > .nickname {
        padding-left: 11px !important;
    }
    .join-check > p, .join-check > a {
        display: flex;
        align-items: center;
        line-height: 20px;
        font-size: 13px;
        letter-spacing: -1px;
    }

    .join-check > p::before {
        width: 24px;
        height: 24px;
    }

    .join-bottom {
        padding-bottom: 36px;
    }

    .join-bottom > div:first-child {
        padding-bottom: 8px;
    }

    .join-bottom > div {
        font-size: 15px;
    }

    .join-check > a::after {
        width: 8px;
        height: 12px;
    }

    .join-bottom > a {
        font-size: 18px;
        height: 56px;
        margin-top: 23px;
    }

    .join-social > ul {
        padding: 24px 0 190px;
    }

    .join-social > ul a > img {
        width: 39px;
        height: 39px;
    }

    .join-social li {
        margin-right: 23px;
    }

    .join-social li:last-child {
        margin-right: 0;
    }

    .join-social li > p {
        font-size: 13.20px;
    }
    footer {
            display: none;
        }
}

/* join-access-failed css */

.join-failed-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #f8f8f8;
    padding: 70px 0 140px;
}

.join-failed-inner {
    width: 558px;
    min-width: 350px;
    height: 504px;
    margin: 0 auto;
    text-align: center;
    padding: 0 63px;
    border: #eaeaea solid 1px;
    background-color: #fff;
    border-radius: 20px;
}

.ico-style{
padding: 70px 0 35px;
}

.ico-style > i {
    display: block;
    width: 110px;
    height: 110px;
    background: url(../images/icon/ico-failed.png) no-repeat center / cover;
    margin: 0 auto;
}

.join-failed-inner > h2 {
    font-size: 30px;
    font-weight: 700;
}

.join-failed-inner > p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #565555;
    padding: 20px 0 54px;
}

.passward-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bot-style {
    width: 48.9%;
    height: 61px;
    background-color: #fff;
    border: #cfcfcf solid 1px;
    border-radius: 100px;
}

.bot-style > a {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -1px;
}

.failed-input-style{
    width: 48.9%;
    height: 61px;
    background-color: #fe811c;
    border-radius: 100px;
}

.failed-input-style > input {
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -1px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media all and (max-width:1024px){
    .join-failed-wrap {
        padding: 0;
    }
    .join-failed-inner{
        width: calc(100vw - 40px);
    }
    .join-failed-inner > p{
        font-size: 15px;
        line-height: 1.5;
        font-weight: 500;
        padding-bottom: 28px;
    }
    .input-style > input::placeholder{
        font-size: 14px;
    }
    .change-check{
        padding: 8px 0;
    }
    
    .join-failed-inner{
        width: 100vw;
        min-width: calc(100% - 40px);
        height: 100%;
        border: 0;
        padding: 0 20px;
    }
    .ico-style{
        padding: 42px 0 28px 0;
    }
    .ico-style > i{
        width: 88px;
        height: 88px;
    }
    .join-failed-inner> h2{
        font-size: 25px;
    }
    .join-failed-inner > p{
        font-size: 14px;
        line-height: 20px;
        padding: 18px 0 38px 0;
    }

    .passward-bot {
        display: block;
    }
    
    .bot-style {
        width: 100%;
        height: 56px;
        margin-bottom: 12px;
    }

    .failed-input-style {
        width: 100%;
        height: 56px;
    }

    .done-input-style{
        height: 55px;
    }
    .done-input-style > button{
        font-size: 15px;
    }
    .done-input-style > a{
        font-size: 15px;
    }
}