/*passward-wrap*/

.input-style {
    padding-left: 0;
}

.passward-wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

.passward-inner {
    width: 558px;
    height: 552px;
    min-width: 360px;
    margin: 0 auto;
    text-align: center;
    padding: 0 53px;
    border: #eaeaea solid 1px;
    background-color: #fff;
    border-radius: 20px;
}

.back-icon {
    text-align: start;
}

.passward-back {
    display: none;
}

.passward-inner > h2 {
    font-size: 41px;
    font-weight: 700;
    padding-top: 67px;
}

.passward-inner > p {
    color: #565555;
    line-height: 24px;
    padding: 23px 0 36px;
    letter-spacing: -1px;
}

.input-style {
    width: 100%;
    height: 61px;
    /*color: #a5a5a5;*/
    border: #dfdfdf solid 1px;
    border-radius: 8px;
    letter-spacing: -1px;

}

.input-style > input {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 21px;
    font-family: 'Noto Sans KR';
    letter-spacing: 0;
}

input::-ms-input-placeholder {
    color: #a5a5a5;
}

input::-webkit-input-placeholder {
    color: #a5a5a5;
}

input::-moz-placeholder {
    color: #a5a5a5;
}

.passward-button > .input-style:first-child {
    margin-bottom: 36px;
}

.passward-inner > .input-style {
    width: 100%;
    height: 61px;
    background: #fe811c;
    margin-bottom: 36px;
    cursor: pointer;
    padding-left: 0;
    border: #fe811c solid 1px;
    border-radius: 5px;
}

.box-style >input {
    font-weight: 300;
}

.passward-bot {
    border-top: #e9e8e8 solid 1px;
}

.input-style.white > input {
    color: #fff !important;
    font-size: 18px;
    letter-spacing: -1px;
    cursor: pointer;
}

.passward-check {
    display: flex;
}

/*-------------------------------------*/
/*비밀번호 버튼구현*/

.passward-check-success > p {
    font-size: 14px;
    color: #7594e8;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.passward-check-fales > p {
    font-size: 14px;
    color: #fe811c;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

/*성공시 박스테두리*/
.input-style.box-style.success {
    border: #7594e8 solid 2px;
}

/*실패시 박스테두리*/
.input-style.box-style.false {
    border: #fe811c solid 2px;
}

/**/
.passward-check {
    display: none;
}

/*-------------------------------------*/
.passward-bot {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.passward-bot > .input-style {
    width: 220px;
    height: 61px;
    border: #b4b4b4 solid 1px;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
}

.passward-bot input {
    color: #000;
    cursor: pointer;
}

@media (max-width: 600px) {
    .passward-inner {
        width: inherit;
        padding: 27px 20px 0 20px;
    }

    .passward-inner > h2 {
        font-size: 21px;
        padding-top: 22px;
    }

    .passward-inner > p {
        line-height: 16px;
        font-size: 14px;
    }
    
    .passward-inner > .input-style {
        margin-bottom: 48px;
    }

    .input-style {
        height: 54px !important;
    }

    .input-style > input {
        padding: 0 12px;
        font-size: 16px !important;
    }

    .passward-back > img {
        width: 10px;
        height: 15px;
    }

    .passward-back {
        display: inline-block;
    }

    .passward-bot {
        display: flex;
        justify-content: space-between;
        padding: 23px 0 227px;
    }

    .passward-bot > .input-style {
        width: 49%;
    }
    
    footer {
        display: none;
    }

}

/* @media all and (max-width:1500px){
    header{
        height: 60px;
    }
    .header-left{
        height: 60px;
    }
    header div.header-right > div.userMenu{
        height: 60px;
    }
    div.h-inner{
        width: 100%;
        max-width: 1160px;
        padding: 0;
    }
    header .logo{
        margin-right: 50px;
    }
    .footer > div {
        width: 100%;
    }
    header nav ul li a{
        font-size: 12px;
    }
    header .logo img{
        width: 72px;
    }
    header nav .userMenu .user img{
        width: 15px;
    }
    header nav .userMenu .ham img{
        width: 15px;
    }
    footer > div{
        max-width: 875px;
    }
    footer > div .logo{
        width: 73px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 20px;
    }
    footer > div div:nth-of-type(2) div a{
        margin-top: 0;
        font-size: 11px;
    }
    footer > div div:nth-of-type(2) div{
        margin-bottom: 15px;
    }
    footer > div div:nth-of-type(2) ul li{
        font-size: 10px;
    }
    footer > div div:nth-of-type(2) ul li > a{
        font-size: 10px;
    }
    footer > div div:nth-of-type(2) address{
        font-size: 10px;
        margin-top: 30px;
    }
    footer > div div:nth-of-type(3) a{
    }
    footer > div div:nth-of-type(3) a.blog{
        width: 24px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    footer > div div:nth-of-type(3) a.facebook{
        width: 24px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    footer > div div:nth-of-type(3) a.insta{
        width: 24px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    footer > div div:nth-of-type(3) a.youtube{
        width: 24px;
        height: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .passward-inner{
        min-width: auto;
        max-width: 264px;
        width: 100%;
        padding-top: 0;
    }
    .passward-inner > h2{
        font-size: 24px;
        padding-top: 82px;
    }
    .passward-inner > p{
        padding: 10px 0 25px 0;
        font-size: 11px;
        line-height: 18px;
    }
    .passward-inner > .input-style{
        height: 36px;
        border-radius: 5px;
        margin-bottom: 25px;
    }
    .input-style{
        height: 36px;
        border-radius: 5px;
    }
    .input-style > input{
        font-size: 11px;
        padding: 0 10px;
    }
    .input-style.white > input{
        font-size: 11px;
        letter-spacing: 0;
    }
    .passward-bot{
        padding: 17px 0 132px 0;
    }
    .passward-bot > .input-style{
        height: 36px;
        width: 130px;
    }
    .passward-button > .input-style:first-child{
        margin-bottom: 7px;
    }
} */