.swiper-container {
    width: 100%;
    height: 100%;
    /*
    background-color: red;
    margin-right: 0;*/
}

.swiper-slide {
    text-align: start;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap {
    width: 100%;
    overflow-x: hidden;
    /*padding-top: 92px;*/
}

.swiper-button-prev3, .swiper-button-next3 {
    position: absolute;
    cursor: pointer;
    z-index: 99;
}

.c2 .swiper-button-prev3, .swiper-container-rtl .swiper-button-next3 {
    width: 16px;
    height: 32px;
    background: url(../images/icon/ico-story-top-Rarrow.png) no-repeat center / cover;
    left: auto;
    right: -4%;
    top: 36%;
}

.c2 .swiper-button-next3, .swiper-container-rtl .swiper-button-prev3 {
    width: 16px;
    height: 32px;
    background: url(../images/icon/ico-story-top-Larrow.png) no-repeat center / cover;
    left: -4%;
    top: 36%;
}

/*c2*/
.c2-wrap {
    position: relative;
}

.c2-wrap::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -13px;
    background-color: #fafafa;
    width: 100%;
    height: 61%;
}

.top-text {
    max-width: 1500px;
    margin: 0 auto;
    padding: 77px 0 51px;
}

.top-text > p {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
}

.swiper-slide > .sub {
    position: relative;
    width: 100%;
}

.swiper-slide > .sub::before {
    content: "";
    width: 40px;
    height: 28px;
    background: url(../images/icon/ico-youtube.png) no-repeat center /100%;
    position: absolute;
    cursor: pointer;
    right: 22px;
    top: 22px;
    z-index: 99;
}


.sub > p {
    font-size: 15px;
    color: #c2c2c2;
    white-space: nowrap;
    transform-origin: top;
    transform: rotate(-90deg) translate(-50%, -15px);
    width: max-content;
    height: max-content;
    position: relative;
    top: 50%;
}



.c2-flex-style > a {
    display: block;
    overflow: hidden;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.5s;
}

.swiper-slide img:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.swiper-slide h3 {
    font-size: 22px;
    font-weight: 700;
    margin: 23px 0 16px;
    position: relative;
    display: inline-block;
}

.swiper-slide h3:hover::after {
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    height: 2px;
    margin: auto;
    bottom: -3px;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s ease;
    
}
.swiper-slide p:last-child {
    font-size: 1rem;
    line-height: 22px;
    cursor: pointer;
    margin-bottom: 102px;
    color: #575656;
    word-break: keep-all;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 54px;
    text-align: center;
}

.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
}

.swiper-pagination-bullet-active {
    background: #fe811c;
}



@media (max-width: 1500px) {
    .top-text {
        width: 100%;
    }
}


/*c3*/
.c3-wrap {
    padding-bottom: 58px;
}

.c3-w-inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 65px 0 47px;
    border-bottom: #e9e9e9 solid 1px;
}

.c3-w-inner > div {
    width: 31%;
}

.txt-left > p {
    font-size: 29px;
    font-weight: 500;
    line-height: 36px
}

.txt-middle > .check {
    display: flex;
}

.c3-w-inner em {
    font-size: 1rem;
    display: block;
    font-weight: bold;
}

.check {
    padding-top: 62px;
    padding-bottom: 25px;
}

.check > p:last-child {
    padding-left: 31px;
}

.check p {
    display: flex;
    font-size: 15px;
    align-content: center;
    line-height: 32px;
    cursor: pointer;
}

.check p::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ececec;
    margin-right: 8px;
}

.check p.active::before {
    background: #fe811c url(../images/icon/ico-check.png) no-repeat center center / 14px 10px;
}

.search_container_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.search_container {
    width: 70%;
    display: flex;
    align-items: center;
    border-bottom: #000 solid 2px;
    position: relative;
}

.search_input {
    width: 95%;
    padding: 12px 24px 12px 0;
    outline: none;
    border: none;
}

.make-category-select{
    min-width: 26.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.make-category-select .story-select-top{
    font-size: 15px;
    font-family: "Noto Sans Kr";
    font-weight:400;
    color: #000;
    width: 100%;
    height: 48px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid #000
}
.make-category-select .story-select-top span{
    font-size: 14px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}
.make-category-select .story-select-content{
    position: absolute;
    top: -6px;
    left: -5px;
    background-color: #fff;
    width: 145px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border: #e3e3e3 solid 1px;
    -webkit-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    transition: 0.1s ease;
    opacity: 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
            box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
    visibility: hidden;
    z-index: 50000;
    overflow: hidden;
}
.make-category-select .story-select-content ul{
    width: 100%;
    top: 0;
    z-index: 500;
}
.make-category-select .story-select-content li button{
    font-size: 16px;
    font-family: "Noto Sans Kr";
    font-weight: 400;
    opacity: 1;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.make-category-select.show .story-select-content {
    opacity: 1;
    visibility: visible;
}
.make-category-select .story-select-content li:hover{
    opacity: 1;
    background-color: #f7f7f7;
}
.make-category-select .story-select-content li:first-child{
    padding-top: 6px;
}
.make-category-select button{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 6px;
}
.make-category-select .story-select-content li:last-child {
    padding-bottom: 6px;
}
.make-category-select .story-select-content li:last-child button::after{
    display: none;
}

.story-select-ico {
    width: 13px;
    height: 8px;
    background: url(../images/icon/ico-story-search-middle.png)no-repeat center center/cover;
    position: absolute;
    right: 0;
    bottom: 39%;
    z-index: 99999;
    transform-origin: center;
    transform: rotate(0);
    transition: 0.3s cubic-bezier(.42,0,.58,1);
}

.story-select-ico.active{
    transform-origin: center;
    transform: rotate(-180deg);
    transition: 0.3s cubic-bezier(.42,0,.58,1);
}

.make-category-select.show .story-select-content {
    opacity: 1;
    visibility: visible;
}

.make-category-select > .story-select-top{
    padding: 0;
}

.story-select-content button {
padding: 13px 25px;
}

.search_container > a {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/icon/ico-search.png) no-repeat center right / cover;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.search_input:focus {
    outline: none;
}

.txt-right > em {
    padding-bottom: 24px;
}

.category > ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding-bottom: 9px;
}

.category li {
    border: #dcdcdc solid 1px;
    border-radius: 20px;
    margin-right: 6px;
    color: #b5b4b4; 
    padding: 2.8% 3.8%;
    white-space: nowrap;
    font-size: 14px;
}

.category li.active {
    border: #fff solid 1px;
    color: #fff;
    background: #fe811c;
    font-size: 14px;
}


.category li:hover {
    cursor: pointer;
}

@media (max-width: 1500px) {
    .c3-w-inner {
        width: 100%;
    }
}

/*c4*/
.c4_wrap {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.text-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.text-right {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-right > button {
    color: #8e8e8e;
}

.text-right > button.active {
    color: #000;
}

.text-right > button:hover {
    color: #000;
}

.text-right > button:last-child::before {
    content: "·";
    display: inline-block;
    padding: 0 5px;
}

.list-inner > ul {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list_item {
    width: calc(1500px / 4 - 30px);
}

.list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-top{
    position: relative;
}

.list-top > a:first-child:after{
    content: "NEW";
    font-size: 11px;
    color: #fff;
    display: block;
    width: 43px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background: #799e14;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 55;
}

.list-top > a {
    display: block;
    border-radius: 10px 10px 0 10px;
    overflow: hidden;
}

.list-top > a:first-child {
    height: auto;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.list-inner img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inset(0% 0% 0% 0% round 10px);
}

.list-inner img:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.list-top {
    display: flex;
    flex-direction: column;
}

.list-top > a > h3 {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    padding-top: 20px;
    border-bottom: #fff solid 1px;
    font-weight: 500;
}

.list-top a:hover h3{
    text-decoration: underline;
}

.list-top > p,
.list-bot {
    padding-top: 13px;
    font-size: 13px;
    color: #8e8e8e;
}

.list-bot {
    display: flex;
    justify-content: space-between;
    padding-bottom: 59px;
    font-weight: 300;
}

.list-bot > span {
    line-height: 22px;
}

.c4-react {
    display: flex;
    position: relative;
}

.c4-react > button {
    display: flex;
    align-items: center;
    line-height: 22px;
    color: #8E8E8E;
}

.list_item > div > div > button:first-child{
    margin-right: 9px;
}
.list_item > div > div > button:nth-child(2){
    margin-right: 9px;
}
.list_item > div > div > button:nth-child(3) {
    margin-right: 20px;
}

.list_item > div > div > button:first-child::before {
    content: "";
    display: block;
    width: 27px;
    height: 22px;
    background: url(../images/icon/ico-eye.png) no-repeat center center / auto;
}

.list_item > div > div > button:nth-child(2)::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/icon/ico-heart.png) no-repeat center center / auto;
}

.list_item > div > div > button:nth-child(3)::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../images/icon/ico-Balloon.png) no-repeat center center / auto;
}

.btn-wrap {
    padding: 23px 0 118px;
}

.btn-wrap > a {
    display: block;
    width: 247px;
    height: 62px;
    border: #cdcdcd solid 1px;
    border-radius: 50px;
    text-align: center;
    line-height: 62px;
    margin: 0 auto;
}

.btn-wrap > a::after {
    content: "\f107";
    display: inline-block;
    color: #000;
    padding-left: 7px;
    font-family: fontAwesome;
    font-weight: bold;
}

.c2-swiper-inner{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
@media (max-width: 1500px) {
    .c4_wrap {
        width: 100%;
    }

    .list-inner > ul {
        width: 100%;
    }
}

.card-etc i{
    width: 3px;
    height: 15px;
    background: url(../images/icon/ico-etc.png) no-repeat center / cover;
    display: block;
    transition: 0.3s ease;
}

.card-etc:hover > i {
    width: 3px;
    height: 15px;
    background: url(../images/icon/ico-etc-black.png) no-repeat center / cover;
    transition: 0.3s ease;
}
.card-etc-tooltip{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
    width: 90px;
    height: 132px;
    border: 1px solid #bababa;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
.card-etc-tooltip.show {
    opacity: 1;
    visibility: visible;
}

.card-etc-tooltip button {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: "Noto Sans Kr";
    font-weight: 400;
    color: #2f2c2c;
    position: relative;
    transition: 0.3s ease;
}
.card-etc-tooltip button:hover{
    background-color: #dddddd;
}
.card-etc-tooltip button::after {
    content: "";
    width: 72px;
    height: 1px;
    background-color: #f0f0f0;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.card-etc-tooltip button:last-child::after{
    display: none;
}

.card-etc-tooltip button > i {
    margin-right: 8px;
}

.card-etc-tooltip button > i.ico-bookmark {
    width: 10px;
    height: 15px;
    background: url(../images/icon/ico-bookmark.png)no-repeat center / cover;
}

.card-etc-tooltip button > i.ico-tag {
    width: 15px;
    height: 15px;
    background: url(../images/icon/ico-tag.png)no-repeat center / cover;
}

.card-etc-tooltip button > i.ico-share {
    width: 13px;
    height: 15px;
    background: url(../images/icon/ico-share.png)no-repeat center / cover;
}

.card-etc-tooltip button > i.ico-report {
    width: 15px;
    height: 15px;
    background: url(../images/icon/ico-report.png)no-repeat center / cover;
}

.toggle-group{
    display: flex;
    align-items: center;
}
.toggle-group p{
    margin-left: 15px;
}

.c6{
    padding: 74px 0 96px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c6-text{
    text-align: center;
}
.c6-text h3{
    font-size: 32px;
    font-family: "Noto Sans Kr";
    font-weight: 300;
    color: #242424;
    margin-bottom: 14px;
}
.c6-text h3 strong{
    font-weight: 500;
}
.c6-text p{
    font-size: 18px;
    font-family: "Noto Sans Kr";
    font-weight: 300;
    color: #242424;
    margin-bottom: 34px;
}
.c6-text a{
    font-size: 18px;
    font-family: "Noto Sans Kr";
    font-weight: 400;
    color: #3c3933;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 247px;
    height: 60px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.03);
    margin: 0 auto;
}
.c6-text .mo{
    display: none;
}

.list-top > span{
    display: none;
}



@media all and (max-width:1920px){
    .top-text {
        max-width: 1125px;
        padding: 56px 0 38px;
    }
    .c2-swiper-inner{
        max-width: 1125px;
    }
    .mySwiper2  {
    }

    .swiper-slide > .sub::before{
        width: 25px;
        height: 18px;
    }
    
    .sub > p{
        font-size: 13.5px;
        transform: rotate(-90deg) translate(-50%, -15px);
    }
    .sub a:nth-of-type(2),
    .sub a:nth-of-type(3){
        height: auto;
    }
    .swiper-slide h3{
        font-size: 17.25px;
        margin: 12px 0 10px 0;
    }
    .swiper-slide p:last-child{
        font-size: 12.5px;
        line-height: 17px;
        margin-bottom: 60px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 26px;
        left: 38px;
    }
    .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 2px;
    }
    .c3-wrap{
        padding-bottom: 30px;
    }
    .c3-w-inner {
        width: 100%;
        max-width: 1125px;
        padding: 50px 0 40px;
    }
    .make-category-select .story-select-content{
        top: 1px;
        left: -3px;
        width: 108px;
    }
    .story-select-content button {
        padding: 10px 20px;
    }
    .make-category-select .story-select-content li button {
        font-size: 12px;
    }
    .make-category-select .story-select-content li:first-child {
        padding-top: 5px;
    }
    .make-category-select .story-select-content li:last-child {
        padding-bottom: 5px;
    }
    .story-select-top::after {
        height: 13px;
    }
    .text-top {
        padding-bottom: 21px;
    }
    .top-text > p {
        font-size: 26.25px;
    }
    .category li {
        font-size: 11.5px;
        margin-right: 3px;
    }
    .category li.active {
        font-size: 11.5px;
        margin-right: 3px;
    }
    .txt-left > p{
        font-size: 21.75px;
        line-height: 28.5px;
    }
    .c3-w-inner em{
        font-size: 14px;
    }
    .txt-right > em {
        padding-bottom: 18px;
    }
    .category li {
        padding: 2.8% 3.4%;
        white-space: nowrap;
    }
    .check{
        padding: 42px 0 22px 0;
    }
    .check p{
        font-size: 13.25px;
        line-height: 25px;
    }
    .check p::before{
        width: 25px;
        height: 25px;
    }
    .check p.active::before{
        background-size: 12px 8px;
    }
    .search_input{
        padding: 10px 16px 10px 0;
        background-size: 13px 13px;
    }
    .category > ul{
        font-size:inherit;
        padding-bottom: 6px;
    }
    .list-inner > ul{
        width: 100%;
        max-width: 1125px;
        margin: 0 auto;
    }
    .list_item{
        width: calc(100% / 4 - 16px);
    }
    /* .list-top > a:first-child{
        height: 265.25px;
    } */
    .list-inner img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    /* .list-top.new::after{
        width: 33px;
        height: 19px;
        line-height: 19px;
        font-size: 8.25px;
        top: 247px;
    } */
    .list-top > a > h3{
        font-size: 13.5px;
        padding-top: 12px;
    }
    .list-top > p, .list-bot{
        padding-top: 6px;
        font-size: 9.75px;
    }
    .list-bot  {
        padding-bottom: 36px;
    }
    .list-bot > span{
        font-size: 9.75px;
    }
    .c4_wrap{
        width: 100%;
        max-width: 1125px;
    }
    .c4-react > button{
        font-size: 9.75px;
    }
    .list_item > div > div > button:first-child::before{
        background-size: 24px 14px;
    }
    .list_item > div > div > button:nth-child(2)::before{
        background-size: 17px 15px;
    }
    .list_item > div > div > button:nth-child(3)::before{
        background-size: 18px 16px;
    }
    .text-left em{
        font-size: 12px;
    }
    .text-right button{
        font-size: 12px;
    }
    .btn-wrap > a{
        width: 186px;
        height: 47px;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-wrap > a::after{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .c6 {
        padding: 46px 0 54px;
    }
    .c6-text h3 {
        font-size: 18.75px;
        margin-bottom: 10px;
    }
    .c6-text p {
        font-size: 12.55px;
        margin-bottom: 22px;
    }
    .c6-text a {
        font-size: 12px;
        width: 145px;
        height: 36px;
        border-radius: 25px;
        box-shadow: 0 10px 10px 0 rgb(0 0 0 / 3%);
    }

}

@media all and (max-width:1024px) {
    .swiper-button-prev3, .swiper-button-next3 {
        display: none;
    }

    .top-text{
        max-width: calc(100% - 40px);
    }

    .c2-inner{
        margin-right: 0;
        width:100%;
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
    .c2 .swiper-slide .sub{
        display: block;
    }
    .sub > p{
        display: none;
    }
    .swiper-slide{
        width: max-content;
    }
    /* .swiper-slide > .sub{
        width: 53.333vw;
    } */
    .sub a:nth-of-type(3){
        display:none;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        display: none;
    }
    .c2-wrap::after{
        bottom: -30px;
    }
    .swiper-slide h3{
        font-size: 15px;
        font-weight: 400;
    }
    .swiper-slide > .sub::before{
        display: none;
    }
    .txt-middle{
        display: none;
    }
    .txt-right{
        display: none;
    }
    .c3-w-inner{
        padding: 50px 0 20px;
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
    .c3-wrap{
        padding-bottom: 18px;
    }
    .list-inner > ul{
        max-width: calc(100% - 40px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .list_item{
        width: 100%;
        height: auto
    }
    .list-top > a:first-child{
        width: 100%;
        position: relative;
    }
    .list-inner img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
    .list-top.new::after{
        display: none;
    }
    .text-top{
        max-width: calc(100% - 40px);
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .list-bot{
        padding-top: 15px;
        padding-bottom: 33px;
    }
    .list-top{
        display: block;
    }
    .list-top > p{
        padding-top: 10px;
        display: inline;
    }
    .list-top > a > h3{
        padding-top: 13px;
        font-size: 12px;
    }
    .list-top > span{
        font-size: 9.75px;
        color: #8e8e8e;
        display: inline;
    }
    .list-top > span::before{
        content: "";
        display: inline-block;
        width: 1px;
        height: 10px;
        background-color: #8e8e8e;
        margin: 0 6px;
        opacity: 0.2;
    }
    .btn-wrap{
        padding: 38px 0 68px 0;
    }

    .c6 {
        padding: 52px 0 54px;
    }
    .c6-text .mo{
        display: block;
    }
    .c6-text h3 {
        font-size: 23px;
        line-height: 28.67px;
        margin-bottom: 13px;
        letter-spacing: -1px;
        font-weight: 400;
    }
    .c6-text h3 strong {
        font-weight: 600;
    }
    .c6-text p {
        font-size: 13px;
        line-height: 19px;
        width: calc(100% - 74px);
        margin: 0 auto;
        word-break: keep-all;
        padding-bottom: 27px;
        font-weight: 400;
    }
    .c6-text a {
        font-size: 14px;
        font-weight: 600;
        width: 167px;
        height: 43px;
    }

    .c4-react{
        width: 100%;
    }
    .list-bot > span{
        display: none;
    }
    .list-bot  {
        width: 100%;
    }
    .c4-react > button:last-of-type{
        position: absolute;
        right: 0;
    }
    .list-top > a > h3{
        word-break: keep-all;
        line-height: 1.2;
    }
    .list-top > a > h3 br{
        display: none;
    }
    .filter-open-btn.mo{
        width: 20px;
        height: 18px;
        background: url("../images/icon/ico-filter-mo.png") no-repeat center / cover;
    }
    .c3-w-inner > div{
        width: 100%;
    }
    .c3-w-inner > div.txt-left{
        display: flex;
        justify-content: space-between;
    }


}