.swiper-container {
    width: 100%;
    height: 100%;
    /*
    background-color: red;
    margin-right: 0;*/
}

.swiper-slide {
    text-align: start;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap {
    width: 100%;
    /*padding-top: 92px;*/
}

/*tempalate-wrap*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a5;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a5a5a5;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #a5a5a5;
  }

.template-inner {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.template-inner > h2 {
    font-size: 35px;
    font-weight: 300;
    color: #222222;
    padding: 87px 0 50px 0;
    text-align: center;
    letter-spacing: -1px;
}

.template-inner > h2 > span {
    font-weight: 500;
    position: relative;
}

.t-top-wrap > .input-stlye {
    width: 67%;
    height: 60px;
    margin: 0 auto;
    border: #e4e3e3 solid 1px;
    border-radius: 8px;
    padding-left: 19px;
    display: flex;
    align-items: center;
}

.t-input-search {
    outline: none;
    border: none;
    width: 95.6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 18px;
    padding-right: 36px;
}

.input-stlye > i {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../images/icon/ico-ts-search.png) no-repeat center center / cover;
    cursor: pointer;
}

.template_search {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 20px;
}

.t-search-head {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -1px;
}

.t-search-result {
    display: none;
}

.t-search-result {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1px;
}

.t-search-result  > span {
    font-weight: 900;
}

.text-right {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::-ms-clear {display:none;} 
.input-stlye {
    position:relative;
}
.input-stlye > span {
    position:absolute;
    bottom: 50%;
    transform: translateY(50%);
    right:5.4%;
    width:24px; 
    height:25px;
    background:url(../images/icon/ico-ts-esc.png) no-repeat 0 0 / cover; 
    text-indent:-9999px;
    cursor: pointer;
}

.t-search-right > button {
    color: #8e8e8e;
    font-size: 14px;
}

.t-search-right > button.active {
    color: #000;
}

.t-search-right > button.active > span {
    font-weight: 700;
    letter-spacing: -1px;
}

.t-search-right > button:hover {
    color: #000;
}

.t-search-right > button:last-child::before {
    content: "·";
    display: inline-block;
    padding: 0 5px;
}


.t-box-list {
    width: 100%;
}

.t-box-list > .t-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
}

.t-list_item {
    width: 100%;
    height: auto;
}

.t-list_item > p {
    padding: 22px 0 47px;
    font-size: 18px;
    letter-spacing: -1px;
}

.t-list_item > .t-list-box {
    width: 100%;
    height: 352px;
    position: relative;
}
/*  new 박스  */
.t-list-box::before{
    content: 'NEW';
    display: block;
    width: 43px;
    height: 24px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    line-height: 19px;
    background-color: #799e14;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: none;
}

.t-list_item:nth-child(odd) > .t-list-box::before{
    display: block;
}

/* ------------------------------------ */

.t-list-box > a {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    clip-path: inset(0% 0% 0% 0% round 10px);
}

.t-list-box > a > img {
    transform: scale(1);
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.t-list-box > a > img:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

#t-js-btn-wrap {
padding: 30px 0 158px 0;
}

.t-btn-wrap > a {
    display: block;
    width: 247px;
    height: 61px;
    border: #cdcdcd solid 1px;
    border-radius: 50px;
    text-align: center;
    line-height: 61px;
    margin: 0 auto;
    letter-spacing: -1px;
}

.t-btn-wrap > a::after {
    content: "\f107";
    display: inline-block;
    color: #000;
    padding-left: 7px;
    font-family: fontAwesome;
    font-weight: bold;
}


/* template preview */
.template-preview{
    background-color:rgba(0,0,0,0.5);
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    z-index:98989898989898989;
    transition:0.3s ease;
}
.template-preview.show{
    opacity:1;
    visibility:visible;
}
.template-preview .preview-content{
    width: 1228px;
    background-color: #fff;
    border-radius:30px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.preview-content .preview-title{
    padding: 30px 50px 25px;
    border-bottom: 1px solid #d1d1d1;
}
.preview-content .preview-btn-group{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.preview-content button{
    display:flex;
    justify-content:center;
    align-items:center;
}
.preview-content button i{
    width:20px;
    height:20px;
    background:url("../images/icon/ico-close-gray.png") no-repeat center / cover;
}
.preview-content p{
    font-size:20px;
    font-family: "Noto Sans Kr";
    font-weight:400;
    color:#5b5b5b;
    margin-bottom:10px;
}
.preview-content h2{
    font-size: 32px;
    font-family:"Noto Sans Kr";
    font-weight: 600;
    color:#222222;
    margin-bottom: 25px;
}
.preview-content ul{
    padding: 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.preview-content ul li{
    width: 267px;
    height:267px;
    margin-bottom:20px;
}
.preview-content a{
    font-size: 16px;
    font-family: "Noto Sans Kr";
    font-weight:500;
    color:#222222;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    width:247px;
    height:60px;
    border: 1px solid #c2c2c2;
    border-radius: 30px;
    margin:0 auto 50px auto;
}
@media all and (max-width: 1920px){
    .template-inner {
        max-width: 1125px;
    }
    .t-list_item > .t-list-box{
    height: 265px;
    }
    .t-list-box::before{
        width: 33px;
        height: 19px;
        font-size: 8.25px;
    }
    .template-inner > h2 {
        padding: 65px 0 39px 0;
        font-size: 24px;
    }
    .t-input-search {
        font-size: 13.5px;
    }
    .input-stlye > i {
        width: 16px;
        height: 16px;
    }
    .input-stlye > span {
        width: 18px;
        height: 19px; 
    }
    .t-top-wrap > .input-stlye {
        height: 46px;
    }

    .t-box-list > .t-list {
        grid-column-gap: 30px;
    }

    .t-btn-wrap > a {
        width: 186px;
        height: 47px;
        line-height: 47px;
        font-size: 12px;
    }
    .t-search-head {
        font-size: 12px;
    }
    .t-search-right > button {
        font-size: 10.5px;
    }
    .t-list_item > p {
        padding: 14px 0 35px;
        font-size: 13.5px;
    }

    /* template-popup */

    .template-preview .preview-content{
        width: 922px;
    }
    .preview-content .preview-title{
        padding: 24px 36px 4px;
    }
    .preview-content button i{
        width:15px;
        height:15px;
    }
    .preview-content p{
        font-size:15px;
        margin-bottom:9px;
    }
    .preview-content h2{
        font-size: 24.01px;
        margin-bottom: 15px;
    }
    .preview-content ul{
        padding: 36px;
    }
    .preview-content ul li{
        width: 201px;
        height:201px;
        margin-bottom:15px;
    }

    .preview-content ul li img {
        width: 100%;
        height: 100%;
    }

    .preview-content a{
        font-size: 12px;
        width:186px;
        height:47px;
    }
}
@media (max-width: 1500px) {
    .t-list_item > .t-list-box {
        height: 197.5px;
    }
    .template-inner{
        width: 100%;
        max-width: 880px;
    }
    .t-list > .t-list_item{
        /* width: calc(100% / 4 - 10px); */
        margin-bottom: 10px;
    }
    .template-inner > h2{
        width: 100%;
        max-width: 880px;
        font-size: 20px;
        padding: 87px 0 50px 0;
    }
    #t-js-btn-wrap{
        padding: 40px 0 80px 0;
    }
    #t-js-btn-wrap a{
        width: 145px;
        height: 38px;
        font-size: 11px;
        line-height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #t-js-btn-wrap > a::after {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .template-inner > h2 > span::after{
        height: 2px;
        bottom: 0px;
    }
}

@media all and (max-width:1024px){
    .template-inner{
        max-width: calc( 100% - 40px);
    }
    .template-inner > h2{
        font-size: 21px;
        line-height: 26px;
        padding: 28px 0 20px 0;
    }
    .t-top-wrap > .input-stlye{
        width: 100%;
        height: 44px;
    }
    .t-input-search{
        width: 65%;
    }
    .template .t-input-search{
        width: 92.5%;
    }
    .template_search{
        padding: 24px 0 16px 0;
    }
    .t-search-head{
        font-weight: 600;
    }
    .t-search-right > button{
        font-size: 12px;
    }
    .t-box-list > .t-list{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 12px;
    }
    .t-list_item > .t-list-box{
        height: auto;
    }
    .t-list-box::before{
        font-size: 11px;
        width: 43px;
        height: 24px;
        transform: translateY(-1px);
        line-height: 24px;
    }
    .t-list_item > p{
        padding: 15px 0;
        font-size: 15px;
        line-height: 20px;
    }
    #t-js-btn-wrap{
        padding: 13px 0 62px;
    }
    #t-js-btn-wrap a{
        width: 170px;
        height: 44px;
        font-size: 14px;
    }
    .t-btn-wrap > a::after{
        padding-left: 10px;
    }
    .template-preview .preview-content{
        left:0;
        top: auto;
        bottom:-100%;
        width: 100vw;
        height: calc(100vh - 5%);
        transform: translate(0,0);
        border-radius: 25px 25px 0 0;
        opacity: 1;
        transition: 0.3s ease;
        overflow-y: scroll;
        max-height: max-content;
        overflow-y: scroll;
    }
    .preview-content .preview-title{
        border-bottom: none;
        position: relative;
        text-align: center;
        padding: 0 20px 20px;
    }
    .preview-content .preview-btn-group{
        position: absolute;
        right: 20px;
        top: 26px;
    }
    .preview-content p{
        font-size: 15px;
        font-weight: 600;
        padding: 24px 0;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 24px;
    }
    .preview-content h2{
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 0;
    }
    .preview-content ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0 0 38px 20px;
    }
    .preview-content ul li{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .preview-content a{
        font-size: 14px;
        width: 170px;
        height: 44px;
        margin: 0 auto 134px auto;
    }
    .template-preview.show .preview-content{
        bottom: 0;
    }
    .input-stlye > span{
        right: 10%;
    }
    .t-search-result{
        font-size: 13px;
    }
}