@import "common/_reset";
@import "common/_base";
@import "common/_mixin";

// header
header {
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px;
    position: fixed;
    transition: 0.3s;
    &.active {
        background: white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
    nav {
        max-width: 2034px;
        width: 80%;
        position: relative;
        top: 0;
        left: 0;
        .logo {
            position: absolute;
            display: inline-block;
            width: 130px;
            height: 40px;
            left: 0;
            top: 30px;
            font-size: 21px;
            font-weight: 700;
            background: url(../images/icon/logo.png);
        }
        ul {
            margin-left: 150px;
            display: flex;
            height: 100%;
            align-items: center;
            li {
                margin-left: 50px;
                a {
                    font-size: 21px;
                    font-weight: 700;
                    transition: 0.3s;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
        .userMenu {
            position: absolute;
            top: 35px;
            right: 60px;
            .user {
                position: relative;
                cursor: pointer;
                display: inline-block;
                background: url(../images/icon/user.png);
                width: 23px;
                height: 20px;
                transition: 0.3s;
                &::after {
                    position: absolute;
                    right: -10px;
                    top: 3px;
                    content: "\f0d7";
                    display: inline-block;
                    font-family: fontAwesome;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
            .ham {
                transition: 0.3s;
                cursor: pointer;
                margin-left: 30px;
                display: inline-block;
                background: url(../images/icon/ham.png);
                width: 25px;
                height: 19px;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

//contents1
.c1 {
    width: 100%;
    height: 700px;
    .swiper-wrapper {
        width: 100%;
        height: 625px;
    }
    .slider-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        &:nth-of-type(1) {
            background: url(../images/main/c1/backgound.png);
            background-size: cover;
        }
        &-area {
            max-width: 2034px;
            width: 80%;
            height: 100%;
            display: flex;
            position: relative;

            .text-wrap {
                z-index: 1;
                width: 100%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                text-align: left;
                p {
                    font-size: 52px;
                    margin: 20px 0;
                }
                span {
                    font-size: 19px;
                }
                a {
                    display: inline-block;
                    &:hover .pen-icon {
                        background: #eca15b;
                    }
                    .pen-icon {
                        transition: 0.3s;
                        margin-top: 30px;
                        width: 70px;
                        height: 70px;
                        border-radius: 70px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        background: #eeb76e;
                        position: relative;
                        &::after {
                            content: "";
                            display: inline-block;
                            width: 18px;
                            height: 21px;
                            background: url(../images/icon/pencil.png);
                        }
                    }
                    span {
                        font-weight: 700;
                    }
                }
            }
            .img-wrap {
                width: 100%;
                position: relative;
                img {
                    width: 600px;
                    position: absolute;
                    right: 0;
                    bottom: -40px;
                    height: auto;
                }
            }
        }
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 100px !important;
    }
}

//contents2

.c2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    .swiper-container {
        //max-width: 2054px;
        box-sizing: content-box;
        padding-left: 39px;
        transform: translateX(-20px);
        .swiper-wrapper {
           
        }
    }
    div {
        width: 80%;
        max-width: 2034px;
        &.top-text div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            p {
                font-size: 35px;
                color: #515151;
            }
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 152px;
                height: 48px;
                background: #eeb76e;
                border-radius: 40px;
                transition: 0.3s;
                &:hover {
                    background: #eca15b;
                }
                span {
                    position: relative;
                    color: white;
                    padding-right: 15px;
                    &::after {
                        display: inline-block;
                        font-size: 18px;
                        position: absolute;
                        font-weight: 700;
                        right: 0;
                        content: "\f105";
                        font-family: fontAwesome;
                    }
                }
            }
        }

        .swiper-slide {
            
            .slider-content2 {
                width: 100%;
                padding-bottom: 50px;
            
                .img-wrap {
                    width: 100%;
                    height: auto;
                    position: relative;
                    &::after {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        content: "";
                        display: inline-block;
                        width: 40px;
                        height: 28px;
                        background: url(../images/icon/youtube.png);
                    }
                    span {
                        text-align: left;
                        display: inline-block;
                        width: 150px;
                        height: 20px;
                        transform: rotate(-90deg);
                        position: absolute;
                        left: -85px;
                        bottom: 65px;
                        color: #c2c2c2;
                        font-size: 16px;
                    }
                }
                .text-wrap {
                    margin-top: 10px;
                    text-align: left;
                    width: 90%;
                    p {
                        font-size: 22px;
                        margin: 20px 0;
                        font-weight: 700;
                    }
                    span {
                        font-size: 16px;
                        color: #3f3f3f;
                    }
                }
            }
        }
    }
    .swiper-pagination-bullet-active {
        background: #eeb76e !important;
    }
}

//contents3
.c3 {
    width: 100%;
    background: #fafafa;
    display: flex;
    justify-content: center;
    div {
        padding: 100px 0 250px;
        width: 80%;
        max-width: 2034px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 42px;
            span {
                padding: 15px;
                font-size: 42px;
                font-weight: 700;
                color: #000;
                border: 1px solid black;
                position: relative;
                span {
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border: 1px solid black;
                    background: #fafafa;
                    &:nth-of-type(1) {
                        top: -8px;
                        left: -8px;
                    }
                    &:nth-of-type(2) {
                        top: -8px;
                        right: -8px;
                    }
                    &:nth-of-type(3) {
                        bottom: -8px;
                        right: -8px;
                    }
                    &:nth-of-type(4) {
                        bottom: -8px;
                        left: -8px;
                    }
                }
            }
        }
        span {
            display: inline-block;
            margin: 20px 0;
            font-size: 20px;
            color: #4e4e4e;
        }
    }
}

//contents4
.c4 {
    width: 100%;
    position: relative;
    .pop-img {
        width: 25vw;
        height: auto;
        position: absolute;
        top: -150px;
        left: 50%;
        z-index: 9;
        transform: translateX(-50%) translateY(200px);
        background: white;
        padding: 1.5vw;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
        opacity: 0;
        transition: 0.3s;
        &.active {
            opacity: 1;
            transform: translateX(-50%) translateY(0);
        }
        div {
            width: 100%;
            overflow: hidden;
        }
        img {
            width: 100%;
            height: auto;
            transform: translateY(200px);
            opacity: 0;
            transition: 0.3s;
            &.active {
                transform: translateY(0);
                opacity: 1;
            }
        }
        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 6vw;
            height: 6vw;
            border-radius: 6vw;
            position: absolute;
            bottom: -3vw;
            right: -3vw;
            background: black;
            color: white;
            transition: 0.3s;
            &:hover {
                background: #eca15b;
            }
            span {
                position: relative;
                text-align: center;
                font-size: 16px;
                line-height: 20pt;
                margin-bottom: 0.5vw;
                &::after {
                    position: absolute;
                    bottom: -1vw;
                    left: 50%;
                    transform: translateX(-50%);
                    content: "\f105";
                    display: inline-block;
                    font-weight: 700;
                    color: white;
                    font-family: fontAwesome;
                }
            }
        }
    }
    .swiper-wrapper {
        height: 32vw;
        .swiper-slide {
            width: 55%;
        }
    }
}

//contents5
.c5 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    .area {
        width: 60%;
        min-width: 1280px;
        display: flex;
        justify-content: space-between;
        .box {
            width: 24.5%;
            background: #fafafa;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            img {
                margin: 20px 0;
            }
            p {
                font-size: 18px;
                font-weight: 600;
            }
            span {
                font-size: 15px;
                margin: 20px 0;
                color: #3f3f3f;
                line-height: 1.4;
            }
        }
    }
}

//contents6
.c6 {
    width: 100%;
    background: #3c3933;
    height: 440px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    div:nth-of-type(1) {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            font-size: 32px;
            color: #fff;
            span {
                font-size: 32px;
                color: #fff;
                font-weight: 700;
            }
        }
        span {
            color: #cdc8c2;
            margin: 20px 0;
        }
        a {
            position: relative;
            margin-top: 40px;
            display: inline-block;
            background: #fff;
            padding: 20px 80px;
            border-radius: 40px;
            transition: 0.3s;
            overflow: hidden;
            &:hover {
                span {
                    color: #fff;
                }
                background: #eca15b;
            }

            span {
                z-index: 1;
                position: relative;
                transition: 0.3s;
                color: #3c3933;
            }
        }
    }
    div:nth-of-type(2) {
        width: 1700px;
        position: absolute;
        height: 440px;
        left: 50%;
        transform: translateX(-50%);
        span {
            position: absolute;
            display: inline-block;
        }
        .circle1 {
            top: -150px;
            left: 0;
            width: 350px;
            height: 350px;
            border-radius: 100%;
            background: #6d604c;
        }
        .circle2 {
            top: 150px;
            left: 300px;
            width: 130px;
            height: 130px;
            border-radius: 100%;
            background: #403d38;
        }
        .circle3 {
            bottom: -50px;
            right: 0;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background: #564c3c;
        }
        .quad {
            top: 190px;
            right: 450px;
            width: 150px;
            height: 150px;
            transform: rotate(45deg);
            background: rgba(255, 255, 255, 0.05);
        }
    }
}

//footer
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 50px 0 100px;
    & > div {
        min-width: 1280px;
        width: 60%;
        display: flex;
        div {
            width: 15%;
        }
        div:nth-of-type(2) {
            width: calc(85% - 200px);
            display: flex;
            flex-direction: column;
            div {
                width: 100%;
                display: flex;
                margin-bottom: 20px;
                a {
                    margin-top: 10px;
                    font-size: 16px;
                    color: black;
                    transition: 0.3s;
                    &:nth-of-type(2) {
                        margin-left: 40px;
                        font-weight: 600;
                    }
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
            ul {
                display: flex;
                margin: 5px 0;
                li {
                    font-size: 15px;
                    margin-right: 10px;
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 2px;
                        height: 100%;
                        background: #54585a;
                        margin-left: 10px;
                    }
                    &:last-of-type::after {
                        display: none;
                    }
                }
            }
            address {
                margin-top: 50px;
            }
        }
        div:nth-of-type(3) {
            width: 200px;
            display: flex;
            justify-content: flex-end;
            a {
                display: inline-block;
                width: 40px;
                height: 33px;
                transition: 0.3s;
                &:hover {
                    opacity: 0.6;
                }
                &.blog {
                    background: url(../images/icon/blog.png);
                }
                &.facebook {
                    background: url(../images/icon/facebook.png);
                }
                &.insta {
                    background: url(../images/icon/insta.png);
                }
                &.youtube {
                    background: url(../images/icon/youtube2.png);
                }
            }
        }
        .logo {
            display: inline-block;
            width: 130px;
            height: 40px;
            font-size: 21px;
            font-weight: 700;
            background: url(../images/icon/logo-footer.png);
        }
    }
}
